footer {
    text-align: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    border-top: 2px;
    background: linear-gradient(to bottom, rgb(157, 0, 255) 0%, rgba(128, 0, 128) 75%);
    
    
    font-family: 'InsideOut';
    
    padding-top: 5px;
    width: 100%;
    
    flex-wrap: nowrap;
    margin-top: auto;
    min-height: 225px;
   
}  

footer .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}

footer .links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
p {
    line-height: 0.2;
    margin: 8px;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

#cred {
    letter-spacing: 1px;
    color: chartreuse;
}
footer .links img {
    max-width: 75px;
    max-height: 75px;
   
    object-fit: contain;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;

}