footer {
    text-align: center;
    border-top: 2px;
    background: linear-gradient(to bottom, rgb(157, 0, 255) 0%, rgba(128, 0, 128) 100%);
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 0px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    
    margin-top: auto;
    
   
}

footer .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}

footer .links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}
p {
    line-height: 0px;
    margin: 15px;
    
}

footer .links img {
    max-width: 24px;
    max-height: 24px;
    object-fit: contain;
    padding-bottom: 5px;
}