footer {
    text-align: center;
    border-top: 2px;
    background: linear-gradient(to bottom, rgb(157, 0, 255) 0%, rgba(128, 0, 128) 100%);
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
    min-height: 100px;
   
}


  

footer .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}

footer .links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
p {
    line-height: 1.2px;
    margin: 8px 15px;
    
}

footer .links img {
    max-width: 24px;
    max-height: 24px;
    object-fit: contain;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}