footer {
    text-align: center;
    border-top: 2px;
    background-color: blueviolet;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

img {
    max-width: 50%;
    max-height: 50%;
}