footer {
    text-align: center;
    border-top: 2px;
    background-color: blueviolet;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 180px;
    margin-top: auto;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    top:0;
}

p {
    line-height: 1.2;
    margin:0;
}

img {
    max-width: 50%;
    max-height: 50%;
}