footer {
    text-align: center;
    border-top: 2px;
    background-color: blueviolet;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    top:0;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    margin-top: auto;
    max-width: 100%;

}


img {
    max-width: 50%;
    max-height: 50%;
}