.moduel-title {
  /* margin-top: 10px; */
  color: aliceblue;
  font-size: 100px;
  text-shadow: 10px 10px rgb(29, 3, 36);
}

.glass-card {
  /* width: 100%;   */
  width: 90%;
  min-width: 0;

  margin-bottom: 50px;
  margin-top: 155px;
  padding: 10px;
  height: auto;

  background: rgba(215, 235, 235, 0.387);
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  border-radius: 18px;
  /* border: 3px solid rgba(0, 0, 0, 0.15); */
  border: 1px solid rgba(255, 255, 255, 0.32);

  box-shadow:
    0 8px 0 rgba(0, 0, 0, 0.15),
    0 18px 35px rgba(0, 0, 0, 0.25);

  filter: drop-shadow(0 0 12px rgba(180, 230, 255, 0.6));

  /* margin: 0 auto; */
  display: block;
  /* color: #243b4a; */
  color:aliceblue;
}
.moduel-text{
  font-family: "InsideOut";
  margin-left:50px;
  margin-right: 50px;
  line-height:2.0
}
.page {
  margin-top: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: center;  
  width: 100%;
}
.media {
  width: 100%;
  aspect-ratio: 18 / 6;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.media img {
  max-width: 85%;  
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
}

