#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  padding: clamp(0.75rem, 1.2vw, 1.5rem) clamp(1rem, 2vw, 2.5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
  
}

.navbar-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: clamp(0.75rem, 1.5vw, 1.75rem);
  flex-wrap: nowrap;
  
}
.navbar-logo {
  width: clamp(60px, 6vw, 110px);
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.navbar-logo-text {
  color: white;
  font-weight: 700;
  font-size: clamp(1.1rem, 1.6vw, 1.8rem);
  text-shadow: 0 2px 4px rgba(0,0,0,0.75);
  font-family: "InsideOut";
}

.navbar-image-button {
  width: clamp(55px, 7vw, 10vw);
  aspect-ratio: 1 / 1;
  height: auto;
  margin-left: clamp(0.25rem, 1vw, 1.5rem);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 50%;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  position: relative;

  transition: transform 0.2s ease;
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.navbar-image-button.active {
  animation: float 2s ease-in-out infinite;
}

.navbar-image-button.no-bounce.active {
  animation: none;
  transform: none;
}

.navbar-image-button.no-bounce:hover {
  filter: brightness(1.5);
  animation: float 2s ease-in-out infinite;
}

.navbar-image-button:hover {
  filter: brightness(1.5);
  animation: float 2s ease-in-out infinite;
}

.navbar-image-button:active {
  filter: brightness(0.7);
  transform: scale(0.95);
}


.navbar-button-text {
  color: white;
  font-weight: 600;
  font-size: clamp(0.75rem, 1vw, 0.95rem);
  text-shadow: 0 2px 4px rgba(0,0,0,0.75);
  pointer-events: none;
  white-space: nowrap;
  font-family: "InsideOut";
}

/* @media (max-width: 1024px) {
  #navbar {
    padding: 0.5rem 1rem;
  }

  .navbar-links {
    display: none;
  }
} */
