.quiz-page {
  padding-top: 17vh;
}
.quiz-intro {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: auto;
}

.quiz-intro-image {
  width: 22rem;
  margin: 20px auto;
  display: block;
}
.quiz-result-image {
  width: 22rem;
  margin: 20px auto;
  display: block;
}

.start-quiz {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px 24px;
  font-size: 1.1rem;
  cursor: pointer;
}
.answers {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  max-width: 600px;
  margin: 20px auto;
}
