.team-page {
  padding: 20px;
  margin-top: 150px;
  margin-bottom: 0px;
  
}

body {
  background-color: white;
}

.character-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

.character-item {
  text-align: center;
  cursor: pointer;
}

.character-item img {
  width: 250px;
  height: 250px;
  border-radius: 20%;
  object-fit: cover;
/* 
  animation-name: character_animation;
  animation-duration: 2s;
  animation-iteration-count: infinite; */

  animation: glow 2s ease-in-out infinite;
}

.modal-overlay {
  /* position: fixed; */
  position: fixed;

  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  padding: 20px;
  border-radius: 0px;
  /* max-width: 400px;
  width: 90%;
  max-height: 80vh;
  height: 500px; */
  /* overflow-y: scroll; 
  overflow-y: auto; */
  /* left: 0px;
  top: 0px; */
  max-width: 480px;
  height: 375px;
  right: 55px;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.frame {
  position:absolute;
  z-index: 200;
  justify-content: center;
  /* right: 175px; */
  pointer-events: none;
}

.member-info {
  background: beige;
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.member-info p,
.member-info h2 {
  margin: 0;
  line-height: 1.35;
}

.modal-header {
  align-items: center;
}

.modal-btn {
  background: #bcbbf2;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 115px;
  right: 250px;
}

.modal img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 10px auto;
  position: relative;
}

.character-item:hover .tooltip{
  visibility: visible;
}

.tooltip {
  visibility: hidden;
  border-radius: 6px;
  /* position: relative; */
  background-color: rgb(86, 86, 86);
  color: #fff;
  width: fit-content; 
  height: 20px;
  text-align: center;
  padding: 5px;
  z-index: 1;
  /* bottom: 100%;
  left: 65%;
  margin-left: -65px; */
}

/* .tooltip:after{
  content: '';
	position: absolute;
  left: 50%;
  bottom: 0;
	left: 50%;
	width: fit-content;
	height: 30px;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
} */

/* @keyframes character_animation {
  0% {margin-top: 0px;}
  50% {margin-top: 50px;}
  100% {margin-top: 0px;} 
} */

@keyframes glow {
  0%, 100% {
    filter: drop-shadow(0 0 0px rgba(0,255,255,0));
  }
  50% {
    filter:
      drop-shadow(0 0 12px var(--glow-1))
      drop-shadow(0 0 24px var(--glow-2))
  }
}