.team-page {
  padding: 20px;
  margin-top: 3000px;
  margin-bottom: 30px;
  
}

body {
  background-color: white;
}

.character-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

.character-item {
  text-align: center;
  cursor: pointer;
}

.character-item img {
  width: 250px;
  height: 250px;
  border-radius: 20%;
  object-fit: cover;
  /*
  animation-name: character_animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #bcbbf2;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  /* overflow-y: auto; */
  
}

.modal-header {
  align-items: center;
}

.modal-btn {
  background: #bcbbf2;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 225px;
  right: 375px;
}

.modal img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 10px auto;
  position: relative;
}

.character-item:hover .tooltip{
  visibility: visible;
}

.tooltip {
  visibility: hidden;
  border-radius: 6px;
  /* position: relative; */
  background-color: rgb(86, 86, 86);
  color: #fff;
  width: fit-content; 
  height: 20px;
  text-align: center;
  padding: 5px;
  z-index: 1;
  /* bottom: 100%;
  left: 65%;
  margin-left: -65px; */
}

/* .tooltip:after{
  content: '';
	position: absolute;
  left: 50%;
  bottom: 0;
	left: 50%;
	width: fit-content;
	height: 30px;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
} */

/* @keyframes character_animation {
  0% {box-shadow: red;}
  100% {box-shadow: blue;} 
} */