.team-page {
  padding: 20px;
  margin-top: 150px;
  margin-bottom: 0px;
  
}

.team-page h1,
.team-page h2 {
  color: white;
}

body {
  background-image: url("logos and images/team-roster-background.png");
}

.character-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

.character-item {
  text-align: center;
  cursor: pointer;
}

.character-item img {
  width: 250px;
  height: 250px;
  border-radius: 20%;
  object-fit: cover;
  animation: glow 2s ease-in-out infinite;
}

.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 10px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  column-count: 2;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* .frame-modal {
  justify-content: center;
} */

.frame {
  position:absolute;
  z-index: 200;
  /* top: 0px;
  right: 0px; */
  /* justify-content: center; */
  pointer-events: none;
}

.modal {
  width: 400px;
  height: 375px;
  position: absolute;
  /* top: 0px;
  right: 0px; */
  z-index: 100;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.member-info {
  background: beige;
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.member-info p,
.member-info h2 {
  margin: 0;
  line-height: 1.25;
}

.modal-header {
  align-items: center;
  font-size: 24px;
}

.modal-btn {
  background: #bcbbf2;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  /* position: absolute; */
  top: 115px;
  right: 250px;
}

.modal img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 10px auto;
  position: relative;
}

.character-item img:hover {
  animation: character_animation 1s infinite;
}

.character-item:hover .tooltip{
  visibility: visible;
}

.tooltip {
  visibility: hidden;
  border-radius: 15px;
  background-color: rgb(135, 41, 157);
  color: #fff;
  width: fit-content; 
  text-align: center;
  padding: 15px;
  justify-content: center;
  left: 50px;
  position: relative;
}

/* .tooltip:after{
  content: '';
	position: absolute;
  left: 50%;
  bottom: 0;
	left: 50%;
	width: fit-content;
	height: 30px;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
} */

@keyframes character_animation {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-30px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  } 
}

@keyframes glow {
  50% {
    filter: drop-shadow(0 0 12px var(--glow-1)) drop-shadow(0 0 24px var(--glow-2))
  }
}