.team-page {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

body {
  background-color: white;
}

.character-grid {
  display: flex;
  flex-wrap: wrap;
  /*gap: 0px;*/
  justify-content: center;
}

.character-item {
  text-align: center;
  cursor: pointer;
}

.character-item img {
  width: 400px;
  height: 400px;
  border-radius: 20%;
  object-fit: cover;
  
  animation-name: character_animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #bcbbf2;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  height: 200 px;
  /*max-height: 80vh;*/
  overflow-y: auto;
  position: relative;

}

.modal-header {
  align-items: center;
}

.modal-btn {
  background: #bcbbf2;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 225px;
  right: 375px;
}

.modal img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 10px auto;
}

/*@keyframes character_animation {
  0% {bottom:0px;}
  25% {bottom:100px;}
  50% {bottom:250px}
  75% {bottom:100px;}
  100% {bottom:250px;}
} /*